<h1> <%= @cocktail.name  %></h1>


<% @cocktail.doses.each do |dose| %>
  <li> <%= dose.ingredient %></li>
<% end %>

<%= link_to "Accéder aux doses" , cocktail_doses_path(params[:id]) %>
<%= link_to "Back" , cocktails_path %>
